html {
    height: 100vh;
    width: 100vw;
}

header {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEF9BF;
}

h1 {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

body {
    height: 100%;
    width: 100%;
    background-color: #EEF9BF;
}

.deck {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 117px;
    height: 146px;
    perspective: 147px;
    margin: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.fullCard {
    width: 117px;
    height: 146px;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flipper{
    position: relative;
	transition: transform 0.8s;
	transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    top: -90px;
    left: -78px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back{
	transform: rotateY(180deg);
}

img {
    width: 100px;
    height: 100px;
}

.flip-container{
    margin: 17px;
}
